.saved-options .saved-options-item {
    display:flex;
    align-items: center;
}

.saved-options-item svg:hover {
    cursor: pointer;
    color:red;
}

.saved-options .item-title,
.saved-options .item-value {
    margin: 10px;
}
