.header {
    display: flex;
    align-items: center;
    flex-basis: 100%;
}

.header .list {
    width: 60%;
    display:flex;
    justify-content: center;
    list-style: none;
}

.header .list-item p{
    margin: 50px;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.header .settings {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.header .settings{
    color: black;
    font-size: 2rem;
    margin: 20px;
}

.header p {
    display: inline-block;
}