.new-dish-form-wraper {
    width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.new-dish-form-wraper .form-title {
    font-size: 2rem;
    margin-top:0;
}
.new-dish-form-wraper .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.new-dish-form-wraper .form select {
    font-size: 1.2rem;
    margin: 5px 0 20px 0;
    width: 150px;
    border: 1px solid black;
    border-radius: 6px;
}


.new-dish-form-wraper input{
    width: 100%;
    margin: 5px 0 20px 0;
    padding: 5px;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 6px;
}

.new-dish-form-wraper label  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.new-dish-form-wraper label p {
    margin: 0;
    font-size: 1.2rem;
}

.new-dish-form-wraper .submit {
    width: 150px;
    background: green;
    color: white;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.new-dish-form-wraper .submit:hover {
    cursor: pointer;
}

.new-dish-form-wraper .add-dish-options, .new-dish-form-wraper .add-dish-save-options {
    width: 150px;
    font-size: 1rem;
    background: cornsilk;
    padding: 5px;
    border: 1px solid black;
    border-radius: 6px;
}

.new-dish-form-wraper .add-dish-options:hover, .new-dish-form-wraper .add-dish-save-options:hover {
    cursor: pointer;
}